<h1>Listing All Articles</h1>
<%= link_to 'Create a new Article',articles_path%>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    
    <% @articles.each do|article|%>
    <tr>
        <td><%= article.title%></td>
        <td><%= article.description%></td>
        <td><%= link_to 'Edit',edit_article_path(article)%></td>
        <td><%= link_to 'Show',article_path(article)%></td>
       <td> <small>Created by:<%= article.user.username if article.user %> Created at: <%= time_ago_in_words(article.created_at)%> Last updated: <%= time_ago_in_words(article.updated_at)%>ago</small></td>
    
    </tr>
    <% end %>
  
</table>